* {
    margin: 0;
    padding: 0;
    border: none;
    background: linear-gradient(90deg, rgb(199, 111, 240) 0%, rgb(167, 58, 161) 30%, rgb(130, 16, 175) 70%, rgb(75, 2, 82) 100%);
    max-width: 100%;
}

body {
    font-family: cursive, Arial, Helvetica, sans-serif;
    background-image: url('https://github.com/Dizarimia/lanny70/blob/main/assets/images/rikkuSamaConfetti.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

h1,
h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #160b53;

}

nav {
    width: 99%;
    height: 10%;
    position: absolute;
}

/* header */
#logo {
    font-family: Oswald, sans-serif;
    float: left;
    font-size: 250%;
    margin-left: 1px;
    background: linear-gradient(90deg, rgb(1, 33, 65) 0%, rgb(30, 58, 182) 30%, rgb(28, 119, 180) 70%, rgb(81, 163, 245) 100%);
    padding-left: 10px;
    padding-right: 10px;
    color: #bfebff;
    text-align: center;
    font-size: xx-large;
}

header {
    width: 100%;
    margin-bottom: 2px;
    position: absolute;
    background: linear-gradient(90deg, rgb(1, 33, 65) 0%, rgb(30, 58, 182) 30%, rgb(28, 119, 180) 70%, rgb(81, 163, 245) 100%);

}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    max-width: 50%;
    color: #eacbfc;
    float: right;

}

#menu,
#logo {
    line-height: 75px;
    margin-top: 0px;
    margin-bottom: 5px;


}

#menu li {
    float: right;
    list-style-type: none;
    padding-bottom: 20px;
    max-height: 50px;
    text-align: right;

}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    padding: 10px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* questionaire */

.questionaire {
    text-align: center;
    background-size: cover;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: -100px;
    margin-left: -100px;
    background: linear-gradient(90deg, rgb(1, 33, 65) 0%, rgb(30, 58, 182) 30%, rgb(28, 119, 180) 70%, rgb(81, 163, 245) 100%);
}

.question:hover {
    text-decoration: underline;
    cursor: pointer;

}

.btn {
    padding: 10px;
    border: solid 2px rgb(1, 33, 65);
    width: 26%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(81, 163, 245);
    margin-top: 1rem;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 2px;
    text-align: center;
    text-decoration: wavy;
    text-shadow: #160b53;
}


/* media */

#video {
    width: 25%;
    margin-right: -100px;
    margin-bottom: -100px;
    position: absolute;
    top: 20%;
    right: 10%;
}

#video2 {
    width: 25%;
    margin-right: -100px;
    margin-bottom: -100px;
    position: absolute;
    top: 20%;
    left: 5%;
}

#photo {
    margin-top: 0px;
    max-width: 300px;
    margin-left: 100px;
}

#rsvp-form {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 40%;
    margin-top: -100px;
    margin-left: -100px;
    background: linear-gradient(90deg, rgb(1, 33, 65) 0%, rgb(30, 58, 182) 30%, rgb(28, 119, 180) 70%, rgb(81, 163, 245) 100%);
    padding: 50px;
    text-align: left;
}

/* media query */
@media screen and (max-width: 810px) {



    #rsvp-form {
        width: 400px;
        height: 200px;
        position: absolute;
        top: 30%;
        left: 40%;
        margin-top: -100px;
        margin-left: -100px;
        background: linear-gradient(90deg, rgb(1, 33, 65) 0%, rgb(30, 58, 182) 30%, rgb(28, 119, 180) 70%, rgb(81, 163, 245) 100%);
        padding: 50px;
        text-align: left;
    }

    #video,
    #video2 {
        width: 40%;
        position: relative;
        top: 30%;
        left: 20%;
        padding: 5px;
    }

    .questionaire {
        text-align: center;
        background-size: cover;
        width: 600px;
        height: 600px;
        position: absolute;
        top: 40%;
        left: 30%;
        right: 10px;
        background: linear-gradient(90deg, rgb(1, 33, 65) 0%, rgb(30, 58, 182) 30%, rgb(28, 119, 180) 70%, rgb(81, 163, 245) 100%);
    }

    nav {
        font-size: 5px;
    }

    nav #menu {
        float: right;
        max-width: 45%;

    }

    nav #logo {
        float: left;
        max-width: 48%;
        text-align: left;
        font-size: small;
    }

}
